<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thông tin cá nhân</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left" method="POST" novalidate>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Họ & tên <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                                    data-validate-words="1" name="name" placeholder="" required="required" type="text"
                                    value="{{adminDetail.username}}">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" id="email" name="email" required="required"
                                    class="form-control col-md-7 col-xs-12" value="{{adminDetail.email}}">
                            </div>
                            <i class="col-md-3 col-sm-3 col-xs-12" id="error-message-email">
                            </i>
                        </div>
                        {{#if edit}}
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Phần quyền <span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select name="role" class="form-control col-md-7 col-xs-12" value="">
                                    <option selected hidden disabled>Phân quyền...</option>
                                    {{#each roleOption}}
                                    <option value="{{this.option}}" {{this.selected}}>{{this.option}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        {{/if}}
                        {{#if isMe}}
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Mật khẩu hiện
                                tại<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="password" name="password" placeholder=""
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        {{/if}}

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="newPassword">Mật khẩu mới<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="newPassword" name="newPassword" placeholder=""
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="repassword">Nhập lại mật
                                khẩu<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" id="repassword" name="repassword" placeholder=""
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                            <i class="col-md-3 col-sm-3 col-xs-12" id="error-message">
                            </i>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="/" class="btn btn-primary">Hủy bỏ</a>
                                <button id="send" type="submit" class="btn btn-success">{{display.btn}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "namesFirst"}}
{{admin.username}}
{{/extend}}
{{#extend "namesSecond"}}
{{admin.username}}
{{/extend}}
{{#extend "idAccount"}}{{admin._id}}{{/extend}}
{{#extend "scripts"}}
<script>
    $('#repassword').focusout(function () {
        if ($('#newPassword').val() != $('#repassword').val()) {
            $('#error-message').html('Mật khẩu mới không khớp');
            $("#send").attr("disabled", true);
        }
        else {
            $('#error-message').html('');
            $("#send").attr("disabled", false);
        }
    });
</script>
{{/extend}}

{{#extend "ajax"}}
<script>
    $('#email').keyup(function () {
        $.getJSON('/api/admin/check?email=' + $('#email').val(), function (data) {
            if (data) {
                $('#error-message-email').html('Email đã tồn tại. Vui lòng chọn email khác.');
                $("#send").attr("disabled", true);
            }
            else {
                $('#error-message-email').html('');
                $("#send").attr("disabled", false);
            }
        })
    });
</script>
{{/extend}}
{{#if role}}
{{#extend "display-li"}}none{{/extend}}
{{/if}}