<div class="">
  <div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="count">179</div>
        <h3>Đăng ký mới</h3>
        <p>Trong tháng 4.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-comments-o"></i></div>
        <div class="count">179</div>
        <h3>Tổng đơn đặt hàng</h3>
        <p>Trong tháng 4.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
        <div class="count">179</div>
        <h3>Sản phẩm mới</h3>
        <p>Trong tháng 4.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-check-square-o"></i></div>
        <div class="count">179</div>
        <h3>Cái gì đó</h3>
        <p>Không biết nói gì.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Doanh số bán hàng <small></small></h2>
          <div class="filter">
            <div id="reportrange" class="pull-right"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="demo-container" style="height:40R0px">
              <div id="my-chart"></div>
            </div>


          </div>

          <div class="col-md-3 col-sm-12 col-xs-12">
            <div>
              <div class="x_title">
                <h2>Top 10 sản phẩm</h2>
                <div class="clearfix"></div>
              </div>
              <div class="scroll">
                <ul class="list-unstyled top_profiles scroll-view">
                  {{#each productList}}
                  <li class="media event">

                    <img src="https://ltwebshopside.herokuapp.com{{this.image}}" alt="..."
                      class="img-circle profile_img">

                    <div class="media-body">
                      <a class="title" href="/product/{{this._id}}">{{this.name}}</a>
                      <p> Giá bán<strong> {{this.price}} VNĐ. </strong> </p>
                      <p> <small>Số lượng đã bán {{this.quantityPurchased}} cái.</small>
                      </p>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{#extend "namesFirst"}}{{admin.username}}{{/extend}}
  {{#extend "namesSecond"}}{{admin.username}}{{/extend}}
  {{#extend "idAccount"}}{{admin._id}}{{/extend}}
  {{#extend "charts"}}
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.

    function drawChart() {

      const a = [["Element", "số lượng", {
        role: "style"
      }], ["Copper", 3, "#76a7fa"],
      ["Silver", 10.49, "silver"],
      ["Gold", 19.30, "gold"],
      ["Platinum", 21.45, "color: #e5e4e2"]];

      var data = google.visualization.arrayToDataTable(a);

      var options = {
        width: 700,
        height: 400,
        bar: { groupWidth: "50%" },
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("my-chart"));
      chart.draw(data, options);
    }
  </script>
  {{/extend}}

  {{#if role}}
  {{#extend "display-li"}}none{{/extend}}
  {{/if}}