<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Khách hàng</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Họ tên, email....">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Tìm!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <ul class="nav navbar-right panel_toolbox">
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">


          <!-- start project list -->
          <table class="table table-striped projects">
            <thead>
              <tr>
                <th style="width: 1%">STT</th>
                <th style="width: 20%">Họ Tên</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th style="width: 20%">Tùy chỉnh</th>
              </tr>
            </thead>
            <tbody>
              {{#each customerList}}
              <tr>
                <td>1</td>
                <td>
                  <a>{{this.user_name}}</a>
                </td>
                <td>
                  <p>{{this.email}}</p>
                </td>
                <td>
                  <p>{{this.address}}</p>
                </td>
                <td>
                  <button type="button" class="btn {{this.btn}} btn-xs">{{this.display}}</button>
                </td>
                <td>
                  <a href="/customer/id={{this._id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Chỉnh
                    sửa </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <!-- end project list -->
          <div class="paginator">
            <ul class="pagination pagination-lg">
              {{#each paging}}
              <li class="{{this.curentPage}}"><a href="/customer/page={{this.pnb}}">{{this.pnb}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#extend "namesFirst"}}
{{admin.username}}
{{/extend}}
{{#extend "namesSecond"}}
{{admin.username}}
{{/extend}}
{{#extend "idAccount"}}{{admin._id}}{{/extend}}
{{#if role}}
{{#extend "display-li"}}none{{/extend}}
{{/if}}